.admin-dashboard-content {
    flex-grow: 1;
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.production-lines-container {
    width: 100%;
    max-width: 1200px;
}

.header-banner {
    background-color: gray;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.title {
    margin: 0;
    font-size: 1.5rem;
}

.content-section {
    display: flex;
    justify-content: space-between;
}

.add-line-section {
    flex: 1;
    margin-right: 20px;
}

.add-line-button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.add-line-button:hover {
    background-color: #002244;
}

.production-lines-list {
    flex: 2;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.production-lines-list h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

.line-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.edit-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}