/* src/components/Admin/ScheduleOvertime.css */

.schedule-overtime-wrapper {
    padding: 20px;
}

.schedule-overtime-container {
    padding: 20px;
    background-color: #f8f9fa;
}

.form-control {
    margin-bottom: 20px;
}

.select-dropdown {
    width: 100%;
}

.view-button-container,
.submit-button-container,
.view-overtime-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.view-button,
.submit-button,
.view-overtime-button {
    width: 100%;
    max-width: 300px;
}

.calendar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-input {
    width: 45%;
}

.date-separator {
    margin: 0 10px;
}

.time-table-dialog .time-table-details {
    padding: 20px;
}

.time-slots-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.time-slots-table th,
.time-slots-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.scheduled-overtimes-dialog .MuiDialogContent-root {
    padding: 20px;
}
