/* src/components/ProductionDashboard/ProductionDashboard.css */
.dashboard-container {
    padding: 20px;
    background-color: #f4f4f4;
}

.measurement-container {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.measurement-container table {
    width: 100%;
    border-collapse: collapse;
}

.measurement-container th, .measurement-container td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.downtime-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}